<app-header-one></app-header-one>

<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Prestations</h2>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li>Nos Prestations</li>
            </ul>
        </div>
    </div>
</section>

<section class="how-to-protect-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Les prestations & formations de MethodEx Consulting</h2>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="how-to-protect-content">
                    <div class="content">
                        <a routerLink="/services/service-part-1">
                            <div class="text">
                                <div class="icon">
                                    <i class="flaticon-network"></i>
                                </div>
                                <h3>Management & Accompagnement</h3>
                                <p>Nous expertisons une organisation fonctionnelle, une situation, un fonctionnement etc... de votre structure et faisons des propositions d’amélioration. Nous avons des offres d’accompagnement pour la mise en place et la prise en main des résolutions.</p>
                            </div>
                        </a>
                    </div>

                    <div class="content">
                        <a routerLink="/services/service-part-2">
                            <div class="text">
                                <div class="icon">
                                    <i class="flaticon-home-plan"></i>
                                </div>
                                <h3>Stage & Formation Technique</h3>
                                <p>MéthodEx Consulting propose des formations techniques industrielles en général, et en particulier celle du pétrole. Nous faisons aussi des formations par CURSUS ET COACHING pour accélérer la prise en main, avec fiabilité, du poste à la suite d'une embauche ou mutation.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="how-to-protect-image">
                    <img src="assets/img/how-to-protect/img1.jpg" class="main-image main-image1" alt="image">
                    <img src="assets/img/how-to-protect/img2.jpg" class="main-image main-image2" alt="image">
                    <img src="assets/img/how-to-protect/img3.jpg" class="main-image main-image3" alt="image">
                    <img src="assets/img/how-to-protect/img4.jpg" class="main-image main-image4" alt="image">
                    <img src="assets/img/how-to-protect/img5.jpg" class="main-image main-image5" alt="image">
                    <img src="assets/img/how-to-protect/img6.jpg" class="main-image main-image6" alt="image">

                    <div class="how-to-protect-shape">
                        <img src="assets/img/how-to-protect/shape1.png" alt="image">
                        <img src="assets/img/how-to-protect/shape2.png" alt="image">
                        <img src="assets/img/how-to-protect/shape3.png" alt="image">
                        <img src="assets/img/how-to-protect/shape4.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<section class="prevention-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>NOS DOMAINES D'ACTIVITÉS</h2>
            <p class="reduite2">
                Pour atteindre son objectif d’accroissement de la compétitivité des industries 
                par la productivité et la sécurité, MéthodEx Consulting a bâti une stratégie de 
                développement autour de la formation et le coaching des apprenants, qui consiste 
                à maintenir les acquis et à développer le savoir et le savoir-faire. Cette stratégie 
                est basée sur deux axes:
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="prevention-content">
                    <div class="title">
                        <h3>MANAGEMENT ET ACCOMPAGNEMENT</h3>
                    </div>

                    <div class="content-list">
                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon1.png" alt="image">
                            </div>
                            <p>
                                Nous expertisons une organisation fonctionnelle, une situation dégradée, 
                                un dysfonctionnement…de votre structure et faisons des propositions d’amélioration. 
                                Nous faisons aussi l’expertise de la problématique via des audits et des outils d’analyse 
                                (arbre des causes, kepner-tregoe…).
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="prevention-content">
                    <div class="title">
                        <h3>STAGE ET FORMATION TECHNIQUE</h3>
                    </div>

                    <div class="content-list">
                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon5.png" alt="image">
                            </div>
                            <p>
                                Nous avons des offres d’accompagnement pour la mise en place et la prise en main des résolutions. 
                                Nous offrons aussi des formations techniques dans les domaines bien spécifiques de l’industrie et 
                                du raffinage, en vue d’accroitre la connaissance technique de votre personnel pour assurer la 
                                fiabilité des équipements industriels et améliorer la sécurité des installations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="prevention-shape1"><img src="assets/img/prevention-shape1.png" alt="image"></div>
    <div class="prevention-shape2"><img src="assets/img/prevention-shape2.png" alt="image"></div>
    <div class="prevention-shape3"><img src="assets/img/prevention-shape3.png" alt="image"></div>
    <div class="prevention-shape4"><img src="assets/img/prevention-shape4.png" alt="image"></div>
</section>


<section class="emergency-contact-area ptb-100">
    <div class="container">
        <div class="emergency-contact-inner">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="btn-box">
                        <a routerLink="/appointment" class="default-btn"><i class="flaticon-open-book"></i> Make A Request</a>
                        <a routerLink="/contact" class="default-btn"><i class="flaticon-doctor"></i> Contact Us</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="contact-cta">
                        <a href="tel:+22504900066">
                            <i class="flaticon-call"></i>
                            <span>Contact Téléphonique</span>
                            (+225) 04 90 00 66
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>