<app-header-one></app-header-one>

<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>A Propos</h2>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li>A Propos De Nous</li>
            </ul>
        </div>
    </div>
</section>

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about-img1.jpg" alt="image">
                    <img src="assets/img/about-img2.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>A propos de Methodex Consulting</h2>
                    <p>MéthodEx Consulting est un cabinet d‘expertise-conseil, d'accompagnement et de formation. Nous
                        intervenons dans les domaines de l'industrie et du pétrole.</p>
                    <p> Nos experts et consultants sont des ingénieurs polytechniciens, soutenus par des formations
                        professionnelles à l'institut français de pétrole (IFP) et possèdent un minimum d’expérience
                        professionnelle de 10 ans dans leur domaine.</p>
                    <blockquote>
                        <p> Aussi, nous proposons nos services au tissu industriel pour contribuer à l'atteinte des
                            objectifs de sécurité, fiabilité et de productivité.</p>
                    </blockquote>
                    <p>Vous trouverez un aperçu de nos domaines de compétences dans la suite de la présentation.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area-two bg-f9f9f9 ptb-100">
    <div class="container">
        <div class="about-inner-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 content">
                    <div class="about-content-two">
                        <ul class="features-list">
                            <li><span><i class='bx bx-check-double'></i> QU'APPORTONS-NOUS DE NOUVEAU ?</span>
                                <br> Nous avons une grande connaissance de l'environnement industriel et de la culture
                                africaine.
                                Nous traduisons ce potentiel de terrain en richesse industrielle à travers le coaching
                                des apprenants et
                                l'accompagnement de nos clients afin de les faire passer du savoir au savoir-faire. Cela
                                est réalisé par
                                une équipe forte de 20 ans de métier.
                            </li>
                            <li><span><i class='bx bx-check-double'></i> PRÉSERVER SON SAVOIR-FAIRE RESTE
                                    POSSIBLE</span>
                                <br> La pérennité d’une entreprise passe inévitablement par la sauvegarde de son
                                savoir-faire.
                                Le maintien de ses acquis n’est cependant pas évident car certaines activités, elles
                                aussi indispensables à la survie de l’entreprise (mouvements et rajeunissement du
                                personnel…)
                                constituent un risque potentiel de perte du savoir-faire. Le devoir de perpétuer
                                l’activité de l’entreprise nous invite donc à l’analyse de cette problématique.
                            </li>
                            <li><span><i class='bx bx-check-double'></i> NOS SOLUTIONS SONT A VOTRE PORTÉE</span>
                                <br> MéthodEx Consulting a bâti une stratégie, autour de la formation et le coaching des
                                apprenants, qui consiste à maintenir les acquis et à développer le savoir et le
                                savoir-faire.
                                A la pratique, le ca binet analyse avec vous, votre problématique, et vous propose des
                                formations dans la gamme de son catalogue ou à la carte. Les prestations de MéthodEx
                                Consulting
                                donnent parfois naissance à une démarche, un support de suivi et de contrôle à mettre en
                                place, nécessitant ainsi un accompagnement.
                            </li>
                            <li><span><i class='bx bx-check-double'></i> ACTIVITÉS ET SERVICES</span>
                                <br> Pour atteindre son objectif d’accroissement de la compétitivité des industries par
                                la productivité et la sécurité,
                                MéthodEx Consulting a bâti une stratégie de développement autour de la formation et le
                                coaching des apprenants,
                                qui consiste à maintenir les acquis et à développer le savoir et le savoir-faire. Cette
                                stratégie est basée sur deux axes: <br> <strong>EXPERTISE - CONSEIL & ACCOMPAGNEMENT -
                                    FORMATION</strong>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 image">
                    <div class="about-image-two">
                        <img src="assets/img/about-img5.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="funfacts-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="section-title">
            <h2>DOMAINES D’INTERVENTIONS</h2>
            <p>
                <span class="reduite2">
                    Les sollicitations qui nous sont soumises, sont en général des analyses
                de dysfonctionnements, et couvrent les domaines suivants :
                </span>
            </p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="funfacts-image">
                    <img src="assets/img/funfacts.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="symptoms-content">
                    <ul>
                        <li>
                            <span><i class='flaticon-tick'></i> FONCTIONNEMENT STRUCTURELLE
                                <br>
                                <div class="reduite">
                                    - Intra-structure (organisation, communication...) <br>
                                    - Inter-structure (organisation, communication...)
                                </div>
                            </span></li>
                        <li>
                            <span><i class='flaticon-tick'></i> FORMATION
                                <br>
                                <div class="reduite">
                                    <li> Stratégie d’acquisition et de maintien du savoir-faire (mobilité et compétence)</li>
                                </div>
                            </span></li>
                        <li>
                            <span><i class='flaticon-tick'></i> EXPLOITATION
                                <br>
                                <div class="reduite">
                                    - Formations techniques <br>
                                    - Outils d’exploitation <br>
                                    - Exploitation d’équipement <br>
                                    - Priorisation des avis
                                </div>
                            </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <h2>Questions fréquemment posées</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-image faq-bg1">
                    <img src="assets/img/faq-img.jpg" alt="image">

                    <a href="https://www.youtube.com/watch?v=BtN-goy9VOY" class="video-btn popup-youtube"><i
                            class="flaticon-play-button"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                A quoi servent les prestations?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Nous avons des prestations d'expertise qui peuvent servir à déterminer les causes 
                                    d'un dysfonctionnement au sein de votre entreprise. nous vous proposons ensuite une prestation
                                     de formation et ou d'accompagnement pour corriger l'écart. cette expertise couvre les domaines 
                                     techniques mais aussi l'organisation de la formation et le management des ressources humaines et matériels.
                                      Nos prestations de formation visent un développement ou une remise à niveau des compétences par une acquisition ou maintien de savoir faire.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Quels sont les avantages des prestations?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Nos prestations comportent des solutions qui tiennent compte de la spécificité de votre entreprise car
                                     l'expertise qui donne lieu à la prestation est faite sur un sujet qui est lui-même spécifique à votre structure.
                                      si la prestation n'est pas précédée d'une expertise, elle est ajustée quand-même à la réalité de votre entreprise
                                       par nos experts en collaboration avec le client.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Les prestations sont-elles en presentiel ou à distance?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Toutes nos prestations sont en présentiel. nous fournissons néanmoins une assistance à distance à nos clients confirmés
                                     sur des sujets classiques de l'industrie.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Qu'est ce qui differencie Methodex Consulting des autres agences?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Nos experts et consultants sont des ingénieurs polytechniciens, soutenus par des formations professionnelles
                                     à l'institut français de pétrole (IFP) et possèdent un minimum professionnel de 10 ans dans leur domaine. 
                                     nous fournissons un accompagnement du client pour la mise en place de nos solutions. Après la formation, 
                                     nous proposons également un coaching des apprenants sur le site de travail pour une meilleure prise en compte 
                                     des propositions que nous faisons.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Comment faire une demande de prestation?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Vous pouvez faire votre inscription en ligne sur notre site www.methodexconsulting.ci
                                     ou nous contacter au +225 59 56 04 21.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-shape1"><img src="assets/img/faq-shape1.png" alt="image"></div>
    <div class="faq-shape2"><img src="assets/img/faq-shape2.png" alt="image"></div>
</section>